/*commentaires*/

body {
    margin: 0;
    background: darkgrey;
}
header, section {
    height: 100vh;
    padding: 0 !important;
}
.navleft {
    height: 100vh;
    width: 35vh;
    margin: 0;
    padding: 0;
}
.portrait {
    background-image: url('elements/images/Fantasy blue.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 0;
}
.titleme { 
    display: none;  /*pour l'instant*/
}
.About {
    display: none;  /*pour l'instant*/
}