/*commentaires*/

body {
    margin: 0;
    background: darkgrey;
}
header, section {
    height: 100vh;
    padding: 0 !important;
}
.navleft {
    height: 100vh;
    width: 35vh;
    margin: 0;
    padding: 0;
}
.portrait {
    background-image: url('elements/images/X no_img.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 0;
}
.titleme { 
    display: none;  /*pour l'instant*/
}
.portrait2 {
    background-image: url('elements/images/X no_img.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 0;
}
.About {
    display: none;  /*pour l'instant*/
}
.Experiences {
    padding: 10vh 0 !important;
}
.xp {
    margin: auto;
    padding: 1vh 2vh;
    color: silver;
    background-color: saddlebrown;
    border-radius: 1%;
}